@{
    ViewData["Title"] = "Home Page";
}
    <div class = "text-center">
    <img src = "/logo.png" style = "height: 70% ; width: 90%; border-radius: 25% ;"">
    <form class="form">
      <div class="textoInicio">
  <div class="form-group mx-sm-5 mb-2">
    <h1 style="color: gold ;">Bienvenido</h1>
    <label for="inputtext" class="sr-only"></label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="" required>
  </div>
  <br/><button type="submit" asp-area="" asp-controller="Home" asp-action="Player" class="btn btn-warning btn-lg" style="height:50% ; width: 50%;">Jugar</button>
  </div>
</form>
</div>
</div>
</div>
</div>

